* {
  /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
  font-family:
    "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  background: rgba(0, 0, 8, 0.7);
  margin: 5px 10px;
  padding: 0 5px;
  border-radius: 15px;
}
.modules-left {
  padding: 0;
}

window#waybar {
  background: transparent;
  /*    background-color: rgba(43, 48, 59, 0.5); */
  /*    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#waybar.empty #window {
  background-color: transparent;
}
